/* .title {
  font-size: 30px;
  text-align: center;
  display: flex;
} */

.title input[type="text"] {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 30px;
  padding: 20px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
