.title input[type="text"] {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 30px;
  padding: 20px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* weather componenet styles */

/* Default weather tooltip styling */
.weatherTooltip {
  background-color: lightskyblue !important;
}

.weatherTooltip .tippy-arrow {
  color: lightskyblue !important;
}

/* Styles to be appllied with getWeatherToolTipClassName helper function depending on what the currentDay/forecast weather value is */
.weatherTooltip-Clouds {
  background-color: darkgray !important;
}

.weatherTooltip-Clouds .tippy-arrow {
  color: darkgray !important;
}

.weatherTooltip-Clear {
  background-color: green !important;
}

.weatherTooltip-Clear .tippy-arrow {
  color: green !important;
}

.weatherTooltip-Rain {
  background-color: mediumturquoise !important;
}

.weatherTooltip-Rain .tippy-arrow {
  color: mediumturquoise !important;
}

.weatherTooltip-Snow {
  background-color: black !important;
}

.weatherTooltip-Snow .tippy-arrow {
  color: black !important;
}
