.search {
  padding-top: 15%;
  padding-bottom: 150px;
  flex-basis: 50%;
}

.search input[type="text"] {
  width: 50%;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  background-color: rgba(213, 118, 30, 0.7);
  box-shadow: none;
  margin: 10px;
}

.googleIcon {
  max-width: 20px;
  padding: 2px;
}

.searchButton {
  font-size: 15px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: transparent;
  border: 2px solid rgb(5, 106, 106);
  cursor: pointer;
  color: rgb(5, 106, 106);
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.searchButton:hover {
  color: green;
  border: 2px solid black;
}

.searchButton:disabled {
  border: 2px solid grey;
  color: grey;
  cursor: not-allowed;
}

/* recent search */

.wrapRecentSearches {
  font-size: 20px;
  font-weight: 400;
  margin: 25px;
  font-family: "Oswald", sans-serif;
}

.recentSearchesTitle {
  display: flex;
  justify-content: center;
}

.recentSearchesTitle p {
  padding-left: 50px;
}

.recentSearches {
  list-style: none;
  padding-right: 10%;
  margin: 0;
}

.recentSearches:hover {
  color: green;
  cursor: pointer;
}

.clearRecentSearches {
  background-image: url("/src/images/circular-arrow.png");
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-left: 60px;
  margin-top: 20px;
}

.clearRecentSearches:focus {
  border: none;
}
