/* weather componenet styles */
.weatherForecast {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin-top: 50px;
}

@media only screen and (max-width: 880px) {
  .weatherForecast {
    flex-wrap: wrap;
    padding: 40px;
  }
}

.weatherForecastItem {
  padding: 0px;
}

.weatherForecastItemImage {
  max-width: 50px;
}

.currentDayTitle {
  font-weight: 400;
  font-size: 25px;
  margin: 30px 0 25px 0;
}

.temperatureC {
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}

.currentDayImage {
  max-width: 190px;
}

.currentDaySunrise {
  margin: 0px;
}
/* Default weather tooltip styling */
.weatherTooltip {
  background-color: lightskyblue !important;
}

.weatherTooltip .tippy-arrow {
  color: lightskyblue !important;
}

/* Styles to be appllied with getWeatherToolTipClassName helper function depending on what the currentDay/forecast weather value is */
.weatherTooltip-Clouds {
  background-color: darkgray !important;
}

.weatherTooltip-Clouds .tippy-arrow {
  color: darkgray !important;
}

.weatherTooltip-Clear {
  background-color: green !important;
}

.weatherTooltip-Clear .tippy-arrow {
  color: green !important;
}

.weatherTooltip-Rain {
  background-color: mediumturquoise !important;
}

.weatherTooltip-Rain .tippy-arrow {
  color: mediumturquoise !important;
}

.weatherTooltip-Snow {
  background-color: black !important;
}

.weatherTooltip-Snow .tippy-arrow {
  color: black !important;
}
